@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* note: period - when on same line as tag, spaces - when inside tag */

* {
    font-family: 'Lato', sans-serif;
}

/* general */

body {
    margin: 0;
    background-color: #fff9f2;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 1;
}

input[type=text], input[type=number], input[type=email], input[type=password] {
    width: 60%;
    padding: 15px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 30%;
    min-height: 10%;
    max-height: 80%;
    min-width: 80%;
    max-width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 100%;
    padding: 15px 20px;
}

button, input[type=submit] {
    background-color: #70C3F6;
    color: whitesmoke;
    font-size: 17px;
    opacity: 0.75;
    border: 0;
    border-radius: 85px;
    height: 2.2rem;
}

button.send {
    margin-top: 10px;
    width: 4.5rem;
}

.btn-add-book {
    width: 6rem;
    margin-top: 2px;
}

.btn-login {
    width: 4rem;
    margin-top: 0!important;
}

.slick-prev {
    left: 220px!important;
}

.slick-next {
    right: 220px!important;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 8px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 45%;
}

footer {
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 30px;
    background: #2D2D2D;
    border-top: 2px solid #3E3E3E;
    text-align: center;
    padding: 8px;
}

footer p4 {
    color: aliceblue;
}

/* input, select, textarea{
    color: #ff0000;
}

textarea:focus, input:focus {
    color: #ff0000;
} */

/* img */

.img-cropper {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: #807f7f solid 1px;
}

img.logo {
    margin: 0;
    margin-left: -25%;
    height: 100%;
}

/* navbar */

header {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 3;
}

.logo-and-title {
    display: flex;
    margin: 8px;
    margin-left: 16px;
}

.nav-title {
    color: #53A7DB;
    font-size: 140%;
    font-weight: bold;
    line-height: 1.5rem;
    font-weight: bold;
    margin: 8px;
    margin-top: 4px;
}

.navbar {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: .1rem;
    background: rgba(255, 255, 255, 0.87)!important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    align-items: center;
}

.nav-link {
    color: #666666;
    height: 30px;
    padding-top: 14px;
}

/* browse form */

.b-form-container {
    height: 80%;
    width: 100%;
    background-image: url('img/book-and-grass.webp');
    background-size: cover;
}

.nav-link {
    text-decoration: none;
}

a {
    color: darkslateblue;
}

a:hover, a.nav-link:hover {
    color: #53A7DB;
}

#b-form {
    padding: 12% 24%;
    margin: 0;
}

.browse-text input {
    width: 90%;
    height: 45px;
}

#b-form input {
    background-color: #f2f2f262;
}

/* nav links */

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul:hover li:not(:hover) a {
    opacity: 0.2;
}

ul li {
    position: relative;
    padding: 0px 25px;
    cursor: pointer;
}

.nav-item {
    padding-top: 8px;
    padding-bottom: 16px;
}

ul li.nav-item::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3498db;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul li:hover::after, ul li.active::after {
    transform: scaleX(1);
}

ul li a {
    position: relative;
    display: flex;
    color: white;
    font-family: Lato, sans-serif;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* books */

.list-group {
    background-color: #fff9f2cc;
    margin-right: 10%;
    border: solid whitesmoke 1px;
    /* box-shadow: cornflowerblue 1px; */
    border-radius: 6px;
    padding-bottom: 10px;
}

.list-group a {
    color: #666666;
}

.list-group p {
    margin: 10px auto;
}

/* login form */

.login-form {
    width: 55%;
}

#l-form input {
    margin: 20px 0;
}

.browse-link {
    margin-right: 10px;
    display: inline;
    font-size: large;
}

.browse-link a {
    text-decoration: none;
}

/* carousel */

.carousel-and-title {
    margin-top: -200px;
    height: -webkit-fill-available;
}

.jcarousel {
    padding: 18px 21%;
}

.featured {
    text-align: center;
    margin-top: 0;
}

.list-group img {
    width: 30px;
    overflow: hidden;
    border: #807f7f solid 1px;
    max-width: 100%;
    padding: 0;
}

.slick-slide {
    height: 25%!important;
}

.slick-slide img {
    height: 180px;
    border-radius: 1px;
    border: solid #ccc 1.5px;
    margin: 18px 0 18px 17px;
}

.slick-list {
    background-color: #f2f2f282;
    border-radius: 5px;
    height: 27.5%;
    z-index: 2;

}

/* errors */

.error {
    color: #FF0000;
}

/* inner-body page */

.inner-body {
    padding: 20px 40px;
    margin-top: 6%;
    min-height: 76.2%;
}