extends default

block content
    div.inner-body.about
        h4 About Us
        h2 We want to help you FIND books quickly,
        h2 SELL the books you no longer need,
        h2 all while keeping it local.