extends default
block content

  //- fix this
  div
    -var books = [];
    -books = list;
    -var numbers = [1, 2, 3];
    table
      tr
        th Title
        th ISBN-10
        th Professor
        th Major
      each b in books
        tr
          td=b.Title
          td=b.ISBN_10
          td=b.Professor
          td=b.Category


 
    
    

        