<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css" type="text/css" />
    </head>

    <body>

        <div class="contact-form inner-body">
            <form method="GET" action="/form">
                <h3>Feel Free to Reach Out!</h3>

                <input type="text" placeholder="Enter Name Here" name="nameEntry" required>
                <input type="text" placeholder="Enter Email Here" name="emailEntry" required>
                <textarea placeholder="Enter Comments Here" name="msgEntry" required></textarea>
                <button class="send" type="submit">Send</button>
            </form>
        </div>
    </body>

</html>