doctype html
html
  head
  - var title = "The Inside Story";
    title= title
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='stylesheet' href='/css/navbar.css')
    link(rel='stylesheet' href='/css/browse.css')
    link(rel='stylesheet' href='/css/books.css')
    link(rel="icon" type="image/png" href="/img/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    main
    div.flex_container
      block header
        //- - header
        div.navbar
          div.logo-and-title
            div.img-cropper
              img(src=`/img/hand-to-hand.jpg`).logo
            h3: a(href=`/home`).
              #{title}

          ul.navbar-group
            li.nav-item
              a(class=`nav-link` href=`/home`).
                Home
            li
              a(class=`nav-link` href=`/sell`).
                Trade Book
            li
              a(class=`nav-link` href = `/contact`).
                Contact
            li
              a(class=`nav-link` href = `/about`).
                About
            li
              a(class=`nav-link` href= `/account`).
                My Account
      block content
