doctype html
html
  head
    title #{title} 
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='stylesheet' href='/css/navbar.css')
    link(rel='stylesheet' href='/css/browse.css')
    link(rel='stylesheet' href='/css/books.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    main
    div.flex_container
      block header
        //- header
        div.navbar
          div.logo-and-title
            div.img-cropper
              img(src=`/img/book-rows.webp`).logo
            //- h4 The Bookswap

          ul.navbar-group
            li.nav-item
              a(class=`nav-link` href=`/home`).
                Home
            li
              a(class=`nav-link` href=`/sell`).
                Sell Book
            li
              a(class=`nav-link` href = `/contact`).
                Contact
            li
              a(class=`nav-link` href= `/account`).
                My Account
      block content
