extends default

block content
    div.inner-body.parallax
        div.b-form-container
            h2 Welcome
            form#b-form(action='/browse_action' method='POST') 
                //- lookup get
                div.browse-text
                    input(type='text' name='browse' placeholder='Browse our titles' required)
                    //- input(type="submit")
            div.browse-link 
                //-use get 
                a(class='browse-link' href='') By Major
                a(class='browse-link' href='') By Prof
                a(class='browse-link' href='/books') All Books